body {
    background-color: whitesmoke;
}
img {
      margin: 0 200px 0 0px;
      border:10px solid gray;
      float:left;
      max-width: 100%;
      height: auto;
    

}
#datospersonales {
    border: 5px solid grey;
    border-radius: 2%;
}
#Experiencialaboral,#cursos,#formulariov,#Educacion, #sobremi {
    border: 5px solid grey;
    border-radius: 2%;
}
.conocimientos {
    border: 5px solid grey;
    border-radius: 2%;
}
#descripcion {
    font-size: x-large;
    font-family: 'Lilita One', cursive;
}
    .programas {
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
       
    }
    
  



.carousel-inner {
    border-radius: 2%;

}
.navbar navbar-expand-lg bg-body-tertiary {
    margin: 0px 50px 0px 200px;

}
.carousel-item active {
    width: 100%;
    height: auto;

}
#encabezado {
    border: 5px black solid;
    border-radius: 10px;
}
footer {
    background-color: rgb(62, 58, 58);
    border-color: black;
    border: 5px solid;
}
#color {
   background-color: black;
    border-radius: 5%;
    color: beige;
}
#reestablecer {
    background-color: black;
    border-radius: 5%;
    color: beige;
}
